[mysqld]
server-id=2
replicate-do-db=mysql_master
expire_logs_days=10
max_binlog_size=100M
binlog_format=mixed
require_secure_transport=OFF
bind-address = 0.0.0.0

default_authentication_plugin=mysql_native_password

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
