<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- NoticeMapper Xml -->
<mapper namespace="board.mybatis.mvc.mappers.NoticeMapper">

<!-- NoticeMapper id = "createNotice" -->
<insert id="createNotice" parameterType="board.mybatis.mvc.dto.notice.NoticeCreateDTO"
useGeneratedKeys="true" keyProperty="nno">
        INSERT INTO tbl_notice 
        (title, content, writer)
        VALUES(#{title}, #{content}, #{writer})
        <!-- last insert id 확인 -->
        <selectKey resultType="long" keyProperty="nno" order="AFTER">
                SELECT LAST_INSERT_ID()
        </selectKey>
</insert>


<resultMap id="FileNameResultMap" type="java.lang.String">
  <id property="fileName" column="fileName"/>
</resultMap>
<!-- NoticeMapper id = "readNotice" -->
<select id="readNotice" parameterType="long" resultMap="NoticeResultMap">
       SELECT 
       n.nno,
       n.title,
       n.writer,
       n.content,
       n.createDate,
       n.updateDate,
       n.viewCount,
       n.replyCount,
       n.likeCount,
       CONCAT(ni.uuid, '_', ni.fileName) AS fileName 
       FROM 
       tbl_notice n
       LEFT OUTER JOIN tbl_notice_image ni ON ni.nno = n.nno 
       WHERE n.nno = #{nno}
</select>
<!-- 여러개의 사진을 가져오기 위한 resultMap using -->
<resultMap id="NoticeResultMap" type="board.mybatis.mvc.dto.notice.NoticeDTO">
  <id property="nno" column="nno"/>
  <result property="title" column="title"/>
  <result property="content" column="content"/>
  <result property="writer" column="writer"/>
  <result property="createDate" column="createDate"/>
  <result property="updateDate" column="updateDate"/>
  <result property="viewCount" column="viewCount"/>
  <result property="likeCount" column="likeCount"/>
  <result property="replyCount" column="replyCount"/>
  <collection property="fileName" ofType="java.lang.String" resultMap="FileNameResultMap"/>
</resultMap>


<!-- NoticeMapper id = "updateNotice" -->
<update id="updateNotice" parameterType="board.mybatis.mvc.dto.notice.NoticeUpdateDTO">
        UPDATE 
        tbl_notice 
        SET 
        title = #{title}, 
        content = #{content}, 
        writer = #{writer}, 
        updateDate = NOW()
        WHERE nno = #{nno}
</update>


<!-- NoticeMapper id = "deleteNotice" -->
<delete id="deleteNotice" parameterType="long">
        DELETE FROM 
        tbl_notice 
        WHERE nno = #{nno}
</delete>


<!-- NoticeMapper id = "listNotice" -->
<select id="listNotice" parameterType="board.mybatis.mvc.dto.notice.NoticeListDTO">
        SELECT 
        n.nno,
        n.title,
        n.content,
        n.writer,
        n.createDate,
        n.updateDate,
        n.viewCount,
        CONCAT(ni.uuid, '_' ,ni.fileName) AS fileName
        FROM tbl_notice n 
        LEFT OUTER JOIN tbl_notice_image ni ON ni.nno = n.nno 
        AND ni.ord = 0
        WHERE n.nno > 0
        <if test="keyword != null and types != null">
        <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="searchType" separator=" OR ">
                <if test='searchType == "t"'>
                n.title like concat('%', #{keyword}, '%')
                </if>
                <if test='searchType == "c"'>
                n.content like concat('%', #{keyword}, '%')
                </if>
                <if test='searchType == "w"'>
                n.writer like concat('%', #{keyword}, '%')
                </if>
        </foreach>
        </trim>
        </if>
        <if test="startDate != null">
                AND n.createDate >= #{startDate}
        </if>
        <if test="endDate != null">
                AND n.createDate &lt;= #{endDate}
        </if>
        ORDER BY n.nno DESC 
        LIMIT #{skip}, #{size}
</select>


<!-- NoticeMapper id = "total" -->
<select id="total" resultType="int">
        SELECT COUNT(*)
        FROM (
        SELECT
	n.nno
        FROM 
        tbl_notice n 
        LEFT OUTER JOIN tbl_notice_image ni ON ni.nno = n.nno
        WHERE n.nno > 0
        <if test="keyword != null and types != null">
        <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="searchType" separator=" OR ">
                <if test='searchType == "t"'>
                n.title like concat('%', #{keyword}, '%')
                </if>
                <if test='searchType == "c"'>
                n.content like concat('%', #{keyword}, '%')
                </if>
                <if test='searchType == "w"'>
                n.writer like concat('%', #{keyword}, '%')
                </if>
        </foreach>
        </trim>
        </if>
        <if test="startDate != null">
                AND n.createDate >= #{startDate}
        </if>
        <if test="endDate != null">
                AND n.createDate &lt;= #{endDate}
        </if>
        LIMIT #{countEnd}
        ) tbl_notice
</select>


<!-- NoticeMapper id = "findNoticeNumber" -->
<select id="findNoticeNumber" parameterType="long">
        SELECT COUNT(*)
        FROM 
        tbl_notice 
        WHERE nno = #{nno}
</select>


<!-- NoticeMapper id = "countViewNotice" -->
<update id="countViewNotice" parameterType="long">
        UPDATE 
        tbl_notice
        SET 
        viewCount = viewCount + 1 
        WHERE nno = #{nno}
</update>


</mapper>