<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- NoticeMapper Xml -->
<mapper namespace="board.mybatis.mvc.mappers.NoticeMapper">

<!-- NoticeMapper id = "createNotice" -->
<insert id="createNotice" parameterType="board.mybatis.mvc.dto.notice.NoticeCreateDTO"
useGeneratedKeys="true" keyProperty="nno">
        INSERT INTO tbl_notice 
        (title, content, writer)
        VALUES(#{title}, #{content}, #{writer})
        <!-- last insert id 확인 -->
        <selectKey resultType="long" keyProperty="nno" order="AFTER">
                SELECT LAST_INSERT_ID()
        </selectKey>
</insert>


<!-- NoticeMapper id = "readNotice" -->
<select id="readNotice" parameterType="long">
        SELECT * FROM 
        tbl_notice
        WHERE nno = #{nno}
</select>


<!-- NoticeMapper id = "updateNotice" -->
<update id="updateNotice" parameterType="board.mybatis.mvc.dto.notice.NoticeUpdateDTO">
        UPDATE tbl_notice 
        SET title = #{title}, content = #{content}, writer = #{writer}, updateDate = NOW()
        WHERE nno = #{nno}
</update>


<!-- NoticeMapper id = "deleteNotice" -->
<delete id="deleteNotice" parameterType="long">
        DELETE FROM 
        tbl_notice 
        WHERE nno = #{nno}
</delete>


<!-- NoticeMapper id = "listNotice" -->
<select id="listNotice" parameterType="board.mybatis.mvc.dto.notice.NoticeListDTO">
        SELECT * FROM 
        tbl_notice tn
        WHERE tn.bno > 0
        <if test="keyword != null and types != null">
        <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="searchType" separator=" OR ">
                <if test='searchType == "t"'>
                title like concat('%', #{keyword}, '%')
                </if>
                <if test='searchType == "c"'>
                content like concat('%', #{keyword}, '%')
                </if>
                <if test='searchType == "w"'>
                writer like concat('%', #{keyword}, '%')
                </if>
        </foreach>
        </trim>
        </if>
        <if test="startDate != null">
                AND registDate >= #{startDate}
        </if>
        <if test="endDate != null">
                AND registDate &lt;= #{endDate}
        </if>
        ORDER BY tn.nno DESC 
        LIMIT #{skip}, #{size}
</select>


<!-- NoticeMapper id = "total" -->
<select id="total" resultType="int">
        SELECT COUNT(*)
        FROM (
        SELECT * FROM
        tbl_notice
        WHERE nno > 0
        <if test="keyword != null and types != null">
        <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="searchType" separator=" OR ">
                <if test='searchType == "t"'>
                title like concat('%', #{keyword}, '%')
                </if>
                <if test='searchType == "c"'>
                content like concat('%', #{keyword}, '%')
                </if>
                <if test='searchType == "w"'>
                writer like concat('%', #{keyword}, '%')
                </if>
        </foreach>
        </trim>
        </if>
        <if test="startDate != null">
                AND registDate >= #{startDate}
        </if>
        <if test="endDate != null">
                AND registDate &lt;= #{endDate}
        </if>
        LIMIT #{countEnd}
        ) tbl_notice
</select>


<!-- NoticeMapper id = "findNoticeNumber" -->
<select id="findNoticeNumber" parameterType="long">
        SELECT COUNT(*)
        FROM tbl_notice 
        WHERE nno = #{nno}
</select>


<!-- NoticeMapper id = "countViewNotice" -->
<update id="countViewNotice" parameterType="long">
        UPDATE tbl_notice
        SET viewCount = viewCount + 1 
        WHERE nno = #{nno}
</update>

</mapper>