<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MyBatis Time Check Mapper -->
<mapper namespace="board.mybatis.mvc.mappers.TimeCheck">

<!-- TimeCheck Mapper id = "getTime" -->
<select id="getTime">
SELECT NOW()
</select>

</mapper> 